#container {
  display: flex;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row {
  flex: 1 0 auto;
  border: solid 0.5px black;
}

