#container {
  display: flex;
  width: 340px;
  height: 340px;
  flex-wrap: wrap;
}

.grid {
  width: 20px;
  height: 20px;
  border: solid 0.5px black;
}


/* #container {
  display: flex;
  width: 680px;
  height: 680px;
  flex-wrap: wrap;
}

.grid {
  width: 6.1%;
  height: 6.1%;
  border: solid 0.5px black;
} */